### Variables in python
* A variable in Python is a name that stores a value.
* It acts like a container that holds data which can be used and modified throughout a program.

#### Creating And Printing Varaibles

In [2]:
# Creating variables
name = "Laxman"
age = 21
city = "Hubli"

# Printing variables
print(name)
print(age)
print(city)

Laxman
21
Hubli

In [3]:
# Checking the data type using type()
print(type(name))   # string
print(type(age))    # integer
print(type(city))   # string

<class 'str'>
<class 'int'>
<class 'str'>

In [4]:
# Assigning multiple values at once
a, b, c = 10, 20, 30
print(a, b, c)

# Assigning one value to multiple variables
x = y = z = 50
print(x, y, z)

10 20 30
50 50 50

In [5]:
# Valid variable names
student_name = "John"
studentAge = 21
_student = "valid"

# Invalid variable names (Try running one by one)
# 1name = "Error"   # starts with number 
# student-name = "Error"  # contains hyphen 
# class = "Error"   # reserved keyword

In [6]:
# Reassigning values to the same variable
fruit = "Apple"
print(fruit)

fruit = "Mango"   # changed value
print(fruit)

Apple
Mango

In [8]:
name = "Laxman"
age = 21

# Using f-string
print(f"My name is {name} and I am {age} years old.")

# Using format() method
print("My name is {} and I am {} years old.".format(name, age))

My name is Laxman and I am 21 years old.
My name is Laxman and I am 21 years old.

In [9]:
a = 10
b = 5

# Performing arithmetic operations
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Power:", a ** b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Power: 100000

In [10]:
x = 10
y = 20

# Swapping using a temporary variable
temp = x
x = y
y = temp
print("After swapping:", x, y)

# Swapping without a temporary variable
a, b = 5, 15
a, b = b, a
print("After swapping:", a, b)

After swapping: 20 10
After swapping: 15 5

In [11]:
PI = 3.14159
GRAVITY = 9.8
print("Pi value:", PI)
print("Gravity:", GRAVITY)

Pi value: 3.14159
Gravity: 9.8

In [12]:
# Taking user input
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Hello {name}, you are {age} years old!")

Enter your name:  lucky
Enter your age:  21

Hello lucky, you are 21 years old!

### Datatypes in python
* Datatypes in python are the type of data that a variable can hold

**1.Integer**

In [1]:
a=10
b=15
print(a+b)

25

In [2]:
#floating point
x=3.52
y=1.48
print(x+y)

5.0

In [3]:
#complex numbers
c=2+3j
d=1-2j
print(c*d)

(8-1j)

**2.Strings**

In [5]:
#concatenation
First_Name="Laxman"
Last_Name="Hadagali"
Full_Name=First_Name+" "+Last_Name
print(Full_Name)

Laxman Hadagali

In [10]:
#string slicing
message="Hello World"
print(message[0:4])
print(message[0:5])
print(message[0:7])
print(message[0:12])

Hell
Hello
Hello W
Hello World

In [13]:
#string formatting
age=21
print(f"I am {age} years old")

I am 21 years old

**3.Lists**

In [16]:
#creating a list
numbers=[1,2,3,4,5]
#Acessing elements
print(numbers[0])
print(numbers[4])
print(numbers[3])

1
5
4

In [17]:
#modyfying elements
numbers[0]=10
print(numbers[0])

10

In [18]:
#adding elemnts
numbers.append(6)
print(numbers)
#Removing elements
numbers.remove(3)
print(numbers)

[10, 2, 3, 4, 5, 6]
[10, 2, 4, 5, 6]

**4.Tuples**

In [21]:
#creating a tuple
coordinates=(0,1)
#accessing a tuple
x=coordinates[0]
y=coordinates[1]
print("x=",x)
print("y=",y)

x= 0
y= 1

**5.Sets**

In [25]:
#creating a set 
fruits={"Orange","banana","apple"}
#adding elements
fruits.add("grape")
print(fruits)
fruits.remove("banana")
print(fruits)

{'grape', 'apple', 'banana', 'Orange'}
{'grape', 'apple', 'Orange'}

**6.Dictionaries**

In [26]:
#creating a dictionary
person={

    "name":"John Doe",
    "age":25,
    "city":"London"
}

#accesing Value
print(person["name"])
print(person.get("age"))

#Modyfying values
person["age"]=30
print(person)

John Doe
25
{'name': 'John Doe', 'age': 30, 'city': 'London'}