**OPERATORS**

**Arithmetic Operators**

In [1]:
#1.Arithmetic Operators: are used to perform mathematical operations on teo or more operands or variables
# symbols are : +,-,*,/,||,%,**

#Addition
a=10;
b=15;
print(a+b)
#substraction
a=10
b=5
print(a-b)
#division
a=10
b=2
print(a/b)
#multiplication
a=10
b=10
print(a*b)
#floor division 
a=10
b=3
print(a//b)
#modulus
a=15
b=2
print(a%b)
#power
a=10
b=5
print(a**b)

25
5
5.0
100
3
1
100000

**comparision operators**

In [8]:
x,y=10,2
print(x==y)#equal to equal to
print(x>=y)#greater than eequal to
print(x<=y)#lessthan or equal to
print(x!=y)#not equal to
print(x<y)#less than 
print(x>y)#greater than

False
True
False
True
False
True

**logical operators**

In [9]:
p,q=True,False
print(p and q)#all elemnts must be true to get true
print(p or q)#atleast one of the elemnt should be true
print(not p)#gives opposite of given value

False
True
False

**IF CONDITIONAL STATEMENTS**

In [13]:
age=int(input("enter the age"))
#age=25 we can declare variable also
if age>=18:
    print("You are eligible to vote")
else:
    print("you are not eligible to vote")

enter the age 18

You are eligible to vote

**elif**

In [19]:
marks=int(input("Enter the marks"))
if marks>=90:
    print("Grade A")
elif marks>=80:
    print("Grade B")
elif marks>=70  :
    print("Grade C")
elif marks>=60:
    print("First class")
elif marks>=50  :
    print("Second class")
elif marks>=35:
    print("just pass")
else:
    print("Fail")

Enter the marks 67

First class

In [20]:
print("WELCOME TO FRESHFRUIT CENTER")
fruit=input("Enter the Fruit Name")
if fruit=="Banana":
    print(f"Cost of 1KG {fruit} is 80")
elif fruit=="Apple":
    print(f"Cost of 1KG {fruit} is 120")
elif fruit=="Orange":
    print(f"Cost of 1KG {fruit} is 180")

WELCOME TO FRESHFRUIT CENTER

Enter the Fruit Name Banana

Cost of 1KG Banana is 80

**NESTED-IF**

In [26]:
#x=int(input("enter the value of x "))
x=10
if x>=10:
    print("This is first if")
    if x>5:
        print("this is second if")
        if x>3:
              print("this is 3rd if")

enter the value of x 10

This is first if
this is second if
this is 3rd if

**Date and Time PACKAGES**

#PACKAGES ARE FOLDER WHICH CONSISTS OF MULTIPLE MODULE
#date and time packages are help us to work with date and time
#it has 4 properties
- .date #year month day
- 2.time #Hour Minute second milisecond
- 3.datetime #Date+time togrther
- .timedelta #gap between two dates or time

In [32]:
from datetime import date
my_date=date(2001,6,13) #simple date creation
print(my_date)
Today_date=date.today()
print(Today_date.year)
print(Today_date.month)
print(Today_date.day)
print(Today_date)
print(Today_date.isoweekday())

2001-06-13
2025
9
24
2025-09-24
3

In [34]:
from datetime import datetime as dt
date1=dt.now()
print(date1)

2025-09-24 12:32:34.461273

In [35]:
from datetime import time
my_time=time(7,8,45)#simple time creation
print(my_time)

07:08:45

In [36]:
from datetime import timedelta
cd=date.today()
fd_after2y=cd+timedelta(days=730)
print(fd_after2y)

2027-09-24

**DATA STRUCTURES IN PYTHON**

**List**

In [38]:
l=[]
type(l)

list

In [39]:
fruits=["apple","Banana","Orange","mango"]  #list of strings
num=[1,2,3,4,5] #list of numbers
floatlist=[2.9,3.5,3.7,5.1] #list of float
combolist=["apple",5,7.3]
nestedlist=[["apple","mango"],[3,5],[2.5]]#list inside list

In [41]:
#indexing
print(fruits[2])

Orange

In [43]:
#slicing
print(fruits[0:2])

['apple', 'Banana']

In [46]:
#add
fruits.append("cherry")
print(fruits)

['apple', 'Banana', 'Orange', 'mango', 'cherry', 'cherry']

In [49]:
#remove
fruits.remove("cherry")
print(fruits)

['apple', 'Banana', 'Orange', 'mango']

In [50]:
#change
fruits[0]="pineapple"
print(fruits)

['pineapple', 'Banana', 'Orange', 'mango']

In [51]:
#join
movies1=["Software Developer","Surya","Student"]
movies2=["kantara","Yuvaratna","KGF"]
print(movies1+movies2)

['Software Developer', 'Surya', 'Student', 'kantara', 'Yuvaratna', 'KGF']

In [55]:
#reverse and sort
num=[3,9,5,1,8,7]
num.sort()
print(num)
num.reverse()
print(num)

[1, 3, 5, 7, 8, 9]
[9, 8, 7, 5, 3, 1]

In [ ]:
#ALL any