**TUPLES**

In [1]:
#Tuple is craeted using ()
tup1=()
type(tup1)

tuple

In [4]:
tup2=(1,2,3,4) #tuple of integers
tup3=("Banana","orange","apple") #tuple of strings
tup4=(10.5,2,5,4.7)#tuple of float
tup5=(1,2.5,"Lucky") #tuple of mixed datatype
tup6=(1,5,(2,6),(3.5,1.8),("Mrshannu","Teju","Raghu")) #tuple inside tuple
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)
print(tup6)

()
(1, 2, 3, 4)
('Banana', 'orange', 'apple')
(10.5, 2, 5, 4.7)
(1, 2.5, 'Lucky')
(1, 5, (2, 6), (3.5, 1.8), ('Mrshannu', 'Teju', 'Raghu'))

In [10]:
#indexing
print(tup2[1])
print(tup3[2])
print(tup6[4][1])
print(tup5[2])
print(tup6[4][1:])

2
apple
Teju
Lucky
('Teju', 'Raghu')

In [15]:
tup7=("Monday","Tuesday","Wednesday","Thursday","Friday","Sturday","Sunday")
print(tup7[5:])

('Sturday', 'Sunday')

In [34]:
#immutable we can delete entire tuple but we cant change the tuple
#tup2[0]=30
del tup2

In [27]:
tup8=("One","Two","One","Three")
tup8.count("One")

2

In [31]:
#indexing
tup8.index('Two')

1

In [35]:
#membership
print("Three" in tup8)
print("five" in tup8)

True
False

In [39]:
#sorting we have pass the the tuple as parameter
tup9=(9,8,1,7,4,6,10,2,3)
print(sorted(tup9))
print(sorted(tup9,reverse=True))

[1, 2, 3, 4, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 4, 3, 2, 1]

**SETS**

In [42]:
#sets are created usng curly/flower brackets
myset=set() #empty set
type(myset)

set

In [43]:
set1={1,2,1,2,1,3,4,2,3,5}
print(set1)

{1, 2, 3, 4, 5}

In [44]:
set2={8,9,5,8,6,5,4,5,3,}
print(set2)

{3, 4, 5, 6, 8, 9}

In [45]:
set3={"TCS","TechMahindra","Wipro","Cognizant"} #set of strings
set4={3,4.0,'Magic'} #set od mixed datatype

In [46]:
#membership
print("Wipro" in set3)
print("Delloite" in set3)

True
False

In [52]:
#adding and updating the  valule
set4.add(10)
set4.update(['IronMan','Spiderman',17])
print(set4)

{3, 4.0, 'Magic', 'IronMan', 10, 17, '17', 'Spiderman'}

In [55]:
#remove and discard 
set4.remove(17)
set4.discard(3)

In [56]:
print(set4.clear())

None

**set operators**

In [57]:
A={1,2,3,1,2,4,5,3,6,7,2,8,5}
B={3,4,1,2,3,5,1,6,7}
C={9,5,4,1,5,6}

In [58]:
A.union(B) #symbol A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
A.intersection(B) #symb  A&B

{1, 2, 3, 4, 5, 6, 7}

In [61]:
A.difference(B)

{8}

**DICTIONARY**

In [65]:
#Dictionary :  are elemntsstored in the form of key-value pair #values can be duplicate but keys should be unique
# key:value
#ex: 
d={}
print(type(d))
d1={1:'python',2:'DBMS',3:'Java',4:'C++'}
print(d1)

<class 'dict'>
{1: 'python', 2: 'DBMS', 3: 'Java', 4: 'C++'}

In [66]:
print(d1.keys())

dict_keys([1, 2, 3, 4])

In [67]:
d1.values()

dict_values(['python', 'DBMS', 'Java', 'C++'])

In [69]:
#indexing
d2={1:'One',2:'Two',3:'Four','A':['samarth','Shridhar','Praveen']}
d2['A'][0]
d2[2]

'Two'

In [71]:
#nested Dictionary
d3={0:{'one':1,'two':2,'three':3},1:{'city':'Dharwad','area':'Saptapur'},'three':{'city':'Banglore','area':'Kudlue Gate'}}

In [74]:
print(d3['three']['area'])
print(d3[1]['area'])

Kudlue Gate
Saptapur

In [77]:
#add and remove changes
d4={'Name':'Mrshannnu','ID':1234,'city':'Banglore'}
d4.update({'area':'Kudlu'})
print(d4)

{'Name': 'Mrshannnu', 'ID': 1234, 'city': 'Banglore', 'area': 'Kudlu'}

In [79]:
#changing
d4['city']='Tamilnadu'
print(d4)

{'Name': 'Mrshannnu', 'ID': 1234, 'city': 'Tamilnadu', 'area': 'Kudlu'}

In [80]:
#
d4.pop('ID')

1234

In [82]:
#to delete entire dictionary
d4.clear() # or del d4
print(d4)

{}